doctype html
html
  head
    title #{@item[:title]}
    - favicon = relative_path_to('/gallery/favicon.png')
    meta content='template language' name='keywords'
    link[
      rel="shortcut icon"
      type="image/x-icon"
      href=favicon
      sizes="16x16"
    ]
    - url = 'https://cdnjs.cloudflare.com/ajax/libs'
    - url_tsorter = "#{url}/jquery.tablesorter/2.31.1/js"
    script src="#{url}/jquery/3.3.1/jquery.min.js"
    script src="#{url_tsorter}/jquery.tablesorter.js"
    script src="#{url_tsorter}/jquery.tablesorter.widgets.js"
    script src="#{url}/semantic-ui/2.4.1/semantic.min.js"
    script src="#{url}/qrious/4.0.2/qrious.min.js"
    script src="#{url}/jspdf/1.3.4/jspdf.min.js"

    link[
      href="#{url}/semantic-ui/2.4.1/semantic.min.css"
      rel="stylesheet"
      type="text/css"
    ]
    css:
      .move-down {
        bottom: 3%;
        margin-bottom: 0;
        position: fixed;
      }
      .content > a.item {
        padding-bottom: 2% !important;
        padding-top: 2% !important;
      }

    javascript:
      var set_rankings_ran = false
      $(function() {

        // Set table position column
        $.tablesorter.addWidget({
          id: "setRankings",
          format: function(table) {
            if (!set_rankings_ran){
              for(var i=0; i < table.tBodies[0].rows.length; i++) {
                pos = i + 1
                pos_text = "<center>" + pos + "</center>"
                $("tbody tr:eq(" + i + ") td:first",table).html(pos_text);
              }
              set_rankings_ran = true
            }
          }
        });

        // Initialize accordion
        $('.ui.accordion')
          .accordion()
        ;

        // Tables column sorting precedence
        $("#sites-ranking").tablesorter({
          sortList: [[3,1],[8,0]],
          widgets: ['zebra','setRankings']
        });
        $("#user-ranking").tablesorter({
          sortList: [[2,1],[4,1]],
          widgets: ['zebra','setRankings']
        });
        $("#language-ranking").tablesorter({
          sortList: [[3,0],[4,0]],
          widgets: ['zebra','setRankings']
        });
        $("#user-pages-t1").tablesorter({
          sortList: [[1,1],[3,1]],
          widgets: ['zebra']
        });
        $("#user-pages-t2").tablesorter({
          sortList: [[1,1],[3,1]],
          widgets: ['zebra']
        });
        $("#user-pages-t3").tablesorter({
          sortList: [[1,1],[3,1]],
          widgets: ['zebra']
        });
      });

  body
    .ui.padded.stackable.grid.equal.width

      .sixteen.wide.black.column
        - img = relative_path_to('/gallery/logo.png')
        a href="https://autonomicmind.com/" target="_blank"
          img.ui.medium.left.floated.image src="#{img}"

          .ui.small.right.floated.statistic.inverted

            .seventeen.wide.black.column
              - challenges_url = 'https://gitlab.com/autonomicmind/challenges'
              a.ui.large.orange.label [
              href="#{challenges_url}/-/wikis/technical-challenges"
              target='_blank'] TECHNICAL CHALLENGES

              a.ui.large.orange.label [
              href="#{challenges_url}/-/wikis/immersion"
              target='_blank'] IMMERSION

              .ui.divider.inverted

            .label #{@item[:title]}
            .label #{content_for(@item, :table_total_msg)}

      .two.wide.stretched.black.column

        .ui.fluid.vertical.inverted.large.tabular.menu

          .ui.accordion.inverted
            .active.title
              i.dropdown.icon
              b User Rankings
            .active.content
              a.item href="/" General
              a.item href="/user-ranking-code" Code
              a.item href="/user-ranking-hack" Hack
              a.item href="/user-ranking-vbd" VbD

            .title
              i.dropdown.icon
              b Site Rankings
            .content
              a.item href="/sites-ranking-general" General
              a.item href="/sites-ranking-code" Code
              a.item href="/sites-ranking-hack" Hack
              a.item href="/sites-ranking-vbd" VbD

            .title
              i.dropdown.icon
              b Others
            .content
              a.item href="/language-ranking" Language Ranking

          .move-down
            .ui.accordion.inverted
              .title
                i.dropdown.icon
                b Statistics
              .content
                a.item [href="/git-analyzers/gitstats"
                  target="_blank"] Git Stats
                a.item [href="/git-analyzers/gitinspector"
                  target="_blank"] Git Inspector

      .fourteen.wide.column
        == yield
    == render '/default-footer.slim'
