table.ui.selectable.orange.large.table.right.aligned.tablesorter[
  id="user-pages-t1"
]
  thead
    tr

      th
        center
          | Challenge type
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Code challenge or Hack challenge" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of sltns with no external sltns" ]
            i.question.circle.outline.icon

      th
        center
          | Solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenges solved by the user" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions percentage
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Unique sltns compared to all sltns" ]
            i.question.circle.outline.icon

      th
        center
          | Average solutions per hour
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Average solutions per hour" ]
            i.question.circle.outline.icon

      th
        center
          | Autonomic Score
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Code solutions avg * 0.5 + Hack solutions avg * 0.7" ]
            i.question.circle.outline.icon

      th
        center
          | First Commit
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="User's first accepted commit" ]
            i.question.circle.outline.icon

      th
        center
          | Last Commit
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="User's last accepted commit" ]
            i.question.circle.outline.icon

      th
        center
          | Websites
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenge sites with at least one solution \
          from the user" ]
            i.question.circle.outline.icon

  tbody
    - @item[:itemst1].each_value do |stat|
      - next if stat[:name] == 'Total'
      tr
        td
          center
            - link = '/user-ranking-' + stat[:name].downcase
            a href="#{link}" #{stat[:name]}
        td
          center #{stat[:'unique-sltns']}
        td
          center #{stat[:sltns]}
        - if stat[:'unique-sltns-prcntg'].to_f >= 80
          td.positive
            center #{stat[:'unique-sltns-prcntg']}%
        - elsif stat[:'unique-sltns-prcntg'].to_f >= 60
          td.warning
            center #{stat[:'unique-sltns-prcntg']}%
        - else
          td.negative
            center #{stat[:'unique-sltns-prcntg']}%
        td
          center #{stat[:avg]}
        td
          center #{stat[:score]}
        td
          center #{stat[:first_sltn_date]}
        td
          center #{stat[:last_sltn_date]}
        td
          center #{stat[:npages]}

  tfoot
    - totals = @item[:itemst1][:general_users]
    tr
      td
        center
          a href="/" #{totals[:name]}
      td
        center #{totals[:'unique-sltns']}
      td
        center #{totals[:sltns]}
      - if totals[:'unique-sltns-prcntg'].to_f >= 80
        td.positive
          center #{totals[:'unique-sltns-prcntg']}%
      - elsif totals[:'unique-sltns-prcntg'].to_f >= 60
        td.warning
          center #{totals[:'unique-sltns-prcntg']}%
      - else
        td.negative
          center #{totals[:'unique-sltns-prcntg']}%
      td
        center #{totals[:avg]}
      td
        center #{totals[:score]}
      td
        center #{totals[:first_sltn_date]}
      td
        center #{totals[:last_sltn_date]}
      td
        center #{totals[:npages]}

br

table.ui.selectable.orange.large.table.right.aligned.tablesorter[
  id="user-pages-t2"
]
  thead
    tr

      th
        center
          | Language
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Programming language used" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of sltns with no external sltns" ]
            i.question.circle.outline.icon

      th
        center
          | Solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenges solved by the user" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions percentage
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Unique sltns compared to all sltns" ]
            i.question.circle.outline.icon

  tbody
    - @item[:itemst2][:general_users].each do |_, stat|
      tr
        td
          center
            a href="#{stat[:url]}" target="_blank" #{stat[:name]}
        td
          center #{stat[:'unique-sltns']}
        td
          center #{stat[:sltns]}
        - if stat[:'unique-sltns-prcntg'].to_f >= 80
          td.positive
            center #{stat[:'unique-sltns-prcntg']}%
        - elsif stat[:'unique-sltns-prcntg'].to_f >= 60
          td.warning
            center #{stat[:'unique-sltns-prcntg']}%
        - else
          td.negative
            center #{stat[:'unique-sltns-prcntg']}%
  tfoot
    - totals = @item[:itemst2][:general_totals]
    tr
      td
        center Total
      td
        center #{totals[:'unique-sltns']}
      td
        center #{totals[:sltns]}
      - if totals[:'unique-sltns-prcntg'].to_f >= 80
        td.positive
          center #{totals[:'unique-sltns-prcntg']}%
      - elsif totals[:'unique-sltns-prcntg'].to_f >= 60
        td.warning
          center #{totals[:'unique-sltns-prcntg']}%
      - else
        td.negative
          center #{totals[:'unique-sltns-prcntg']}%

br

table.ui.selectable.orange.large.table.right.aligned.tablesorter[
  id="user-pages-t3"
]
  thead
    tr

      th
        center
          | Site
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Name and link to the site" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of sltns with no external sltns" ]
            i.question.circle.outline.icon

      th
        center
          | Solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenges solved by the user" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions percentage
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Unique sltns compared to all sltns" ]
            i.question.circle.outline.icon

  tbody
    - @item[:itemst3][:general_users].each_value do |stat|
      tr
        td
          center
            a href="#{stat[:url]}" target="_blank" #{stat[:'official-name']}
        td
          center #{stat[:'unique-sltns']}
        td
          center #{stat[:sltns]}
        - if stat[:'unique-sltns-prcntg'].to_f >= 80
          td.positive
            center #{stat[:'unique-sltns-prcntg']}%
        - elsif stat[:'unique-sltns-prcntg'].to_f >= 60
          td.warning
            center #{stat[:'unique-sltns-prcntg']}%
        - else
          td.negative
            center #{stat[:'unique-sltns-prcntg']}%
  tfoot
    - totals = @item[:itemst3][:general_totals]
    tr
      td
        center Total
      td
        center #{totals[:'unique-sltns']}
      td
        center #{totals[:sltns]}
      - if totals[:'unique-sltns-prcntg'].to_f >= 80
        td.positive
          center #{totals[:'unique-sltns-prcntg']}%
      - elsif totals[:'unique-sltns-prcntg'].to_f >= 60
        td.warning
          center #{totals[:'unique-sltns-prcntg']}%
      - else
        td.negative
          center #{totals[:'unique-sltns-prcntg']}%
